In [1]:
# Importing libraries
import pandas as pd 
import numpy as np
import scipy.stats as stats

In [2]:
data=pd.read_csv(r'C:\Users\cheth\OneDrive\Desktop\ExcelR\Assignments\1.Hypothesis testing\Costomer+OrderForm (1).csv')

In [3]:
#data.head()

In [4]:
#data1=data.replace(['Error Free','Defective'],[1,0])

In [5]:
#data1 = data1.replace(['Error Free'],'new value')

In [6]:
data.apply(pd.Series.value_counts, axis=0)

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [7]:
data1=pd.DataFrame([[271,267,269,280],[29,33,31,20]],index=['Error Free','Defective'],columns=['Phillippines','Indonesia','Malta','India'])

data1

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [10]:
from scipy.stats import chi2_contingency 
stat, p, dof,critical=chi2_contingency(data1)

alpha= 0.05
print ("pvlue is"+str(p))
if p <=alpha:
    print ('Variables are independent(reject h0)')
else:
    print ('Variables are dependent(H0 holds true)')

pvlue is0.2771020991233135
Variables are dependent(H0 holds true)