In [1]:
# Importing libraries
import pandas as pd 
import numpy as np
import scipy.stats as stats

In [2]:
data=pd.read_csv(r'C:\Users\cheth\OneDrive\Desktop\ExcelR\Assignments\1.Hypothesis testing\LabTAT.csv')

In [4]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

Anova method

In [6]:
# We use anova techniqe to check the diff
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
# Null Hypothesis says: There is no differece in the TAT time for labs
# Alternate Hypothesis says there is a differnce in the TAT time.
#pValue is less than 0.05 , We reject null hypothesis claim, There is a difference in the TAT time.

In [7]:
## Let us check individually
#Data here is 2 sample 2 tail test
# Null Hypothesis is no change in TAT time
# Alterbate Hypothesis is change in TAT time.

Comparing labs TAT time with each other labs

In [8]:
#Comparing lab1 and 2
stats.ttest_ind(data.iloc[:,0],data.iloc[:,1])

Ttest_indResult(statistic=-0.2975216812891612, pvalue=0.7663277896545946)

In [9]:
#Comparing lab1 and 3
stats.ttest_ind(data.iloc[:,0],data.iloc[:,2])

Ttest_indResult(statistic=-11.165478023532119, pvalue=1.4885264395661512e-23)

In [10]:
#Comparing lab1 and 4
stats.ttest_ind(data.iloc[:,0],data.iloc[:,3])

Ttest_indResult(statistic=8.02886395533212, pvalue=4.5201370470099075e-14)

In [13]:
#Comparing lab 2 and 3
stats.ttest_ind(data.iloc[:,1],data.iloc[:,2])

Ttest_indResult(statistic=-10.321291605474421, pvalue=7.029124901932706e-21)

In [14]:
#Comparing lab 2 and 4
stats.ttest_ind(data.iloc[:,1],data.iloc[:,3])

Ttest_indResult(statistic=17.729769073850722, pvalue=2.1080551000374276e-45)

In [15]:
#Comparing lab 3 and 4
stats.ttest_ind(data.iloc[:,2],data.iloc[:,3])

Ttest_indResult(statistic=17.729769073850722, pvalue=2.1080551000374276e-45)

In [16]:
# Lab1 and lab2 : pvalue is greater than 0.05 we failed to reject null hypothesis.
# The TAT time of lab1 and lab2 are same.
# For other combination TAT time is different.